@import "tailwindcss";

body{
  background-color: #1F2937; /* gray-800 */
  color: #FFEDD5; /* orange-100 */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
}

table {
  width: 75%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

th {
  background-color: #111827; /* gray-900 */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #111827; /* gray-900 */
}

button {
  height: 2rem;
  width: 12rem;
  background-color: #404040; /* neutral-700 */
  border-style: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  box-shadow: 1px 2px 5px black;
  transition: 0.2s;
}

button:hover {
  background-color: #A3A3A3; /* neutral-400 */
  color:#fff;
}

button:active {
  transform: translate(1px, 2px);
  box-shadow: none;
}
