@import "tailwindcss";

body{
  background-color: #1F2937; /* gray-800 */
  color: #FFEDD5; /* orange-100 */
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
}

#user-input {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background-color: #363636;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.input-group label {
  font-weight: bold;
}

.input-group input {
  width: 10rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.center{
  display: block;
  margin:10px auto;
}

button{
  height: 30px;
  width: 200px;
  background-color: #363636;
  border-style: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

button:hover{
  background-color: #969696;
  color:#fff;
}

button:active{
  transform: translate(3px);
}